* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(160, 160, 160);
}

header {
  background-color: rgb(160, 160, 160);
  padding: 1.5em;
  font-size: 10px;
  font-style: italic;
  max-width: 100%;
  color: wheat;
}

.quote-box {
  max-width: 700px;
  width: 90%;
  padding: 2em;
  border: 1px solid rgb(213, 210, 210);
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 8px 8px 3px 8px #888888;
  display: flex;
  margin-top: 7em;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  padding-top: 1em;
}

button {
  padding: 1em;
  border-radius: 5px;
  background-color: black;
  color: wheat;
}

.quotes {
  font-size: 35px;
  width: 100%;

}



.author {
  float: right;
  padding-top: 4em;
  max-width: 100%;
}